.form{
    text-align: center;
    font-family: -webkit-body;
    border: 2px solid #838383;
    max-width: 320px;
    min-height: 350px;
    margin: auto;
    margin-top: 2cm;
    background-color: rgb(184, 219, 202);
}

.actions button{
    font-size: 18px;
    font-family: monospace;
    padding: 5px 50px;
    border-radius: 8px;
    margin: 2px;
    color: antiquewhite;
    background-color: darkcyan;
}
.actions a, .forget a{
    color: crimson;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.control{
    margin: 10px;
    font-family: inherit;
    font-size: 20px;
}
.forget input{
    font-size: 15px;
    margin: 25px;
    padding: 5px;
}
.toggle{
    text-align: center;
    padding: 10px;
}
.toggle button{
    font-size: 18px;
}